In [130]:
import pandas as pd
import numpy as np
import os

In [131]:
fileName='1 - List of countries by GDP (nominal) per capita.csv'
df=pd.read_csv('../rawData/'+fileName)

In [132]:
df.head()

,Country/Territory,UN Region,IMF[4][5],IMF[4][5].1,World Bank[6],World Bank[6].1,United Nations[7],United Nations[7].1
0,Country/Territory,UN Region,Estimate,Year,Estimate,Year,Estimate,Year
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Monaco,Europe,—,—,234317,2021,234317,2021
3,Liechtenstein,Europe,—,—,184083,2021,169260,2021
4,Luxembourg,Europe,135605,2023,126426,2022,133745,2021

In [133]:
data=df.copy()

In [134]:
data=data.drop(df.index[0:2])
data=data.iloc[:,[0,2,4,6]]
data=data.rename(columns={"IMF[4][5]":"IMF","World Bank[6]":"WB","United Nations[7]":"UN"})
data[["IMF","WB","UN"]]=data[["IMF","WB","UN"]].apply(pd.to_numeric,errors='coerce')

In [135]:
data.head()

  Country/Territory       IMF        WB        UN
2            Monaco       NaN  234317.0  234317.0
3     Liechtenstein       NaN  184083.0  169260.0
4        Luxembourg  135605.0  126426.0  133745.0
5           Bermuda       NaN  118846.0  112653.0
6           Ireland  112248.0  104039.0  101109.0

In [136]:
data['mean']=data.mean(axis=1)
data.head()

/tmp/ipykernel_37607/4123962084.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  data['mean']=data.mean(axis=1)

  Country/Territory       IMF        WB        UN           mean
2            Monaco       NaN  234317.0  234317.0  234317.000000
3     Liechtenstein       NaN  184083.0  169260.0  176671.500000
4        Luxembourg  135605.0  126426.0  133745.0  131925.333333
5           Bermuda       NaN  118846.0  112653.0  115749.500000
6           Ireland  112248.0  104039.0  101109.0  105798.666667

In [137]:
data=data.iloc[:,[0,4]]

In [138]:
data.head()

  Country/Territory           mean
2            Monaco  234317.000000
3     Liechtenstein  176671.500000
4        Luxembourg  131925.333333
5           Bermuda  115749.500000
6           Ireland  105798.666667

In [139]:
data.to_csv("../cleanedData/"+'1-GDP-per-capita.csv', sep=',', index=False)