In [326]:
import pandas as pd
import numpy as np
import os

In [327]:
fileName='1 - List of countries by GDP (nominal) per capita.csv' 
df=pd.read_csv('../rawData/'+fileName)
data=df.copy()
data=data.drop(df.index[0:2]) #1
data=data.iloc[:,[0,6]] #1
data=data.rename(columns={"United Nations[7]":"UN"}) #1
data["Country/Territory"] = data["Country/Territory"].str.replace(' \(.*\)', '', regex=True)
data["Country/Territory"] = data["Country/Territory"].drop_duplicates()
data[["UN"]]=data[["UN"]].apply(pd.to_numeric,errors='coerce') #1
data.to_csv("../cleanedData/"+'1-GDP-per-capita.csv', sep=',', index=False)

In [328]:
fileName='2 - List of sovereign states by Internet connection speeds.csv' 
df=pd.read_csv('../rawData/'+fileName)
data=df.copy()
data=data.iloc[:,[1,2]]
data=data.rename(columns={"Mediandownloadspeed(Mbit/s)(Ookla)[1]":"Ookla",}) #Assumed median download speed ookla is what avarage speed is refering too as there is no average speed for Ookla
data[["Ookla"]]=data[["Ookla"]].apply(pd.to_numeric,errors='coerce') 
data.to_csv("../cleanedData/"+'2-Internet-speed.csv', sep=',', index=False)

In [329]:
fileName='3 - List of countries by alcohol consumption per capita.csv' 
df=pd.read_csv('../rawData/'+fileName)
data=df.copy()
data=data.iloc[:,[0,2]]
data=data.rename(columns={"2016[8]":"2016"}) 
data['Country'] = data['Country'].str.replace(r'(\[.*\])+', '', regex=True) 
data[["2016"]]=data[["2016"]].apply(pd.to_numeric,errors='coerce')
# # Corriger des fautes de frappes
data.at[56,'Country'] ="Estonia"
data.at[57,'Country'] = "Eswatini"
data.at[100,'Country'] = "North Macedonia"
data.to_csv("../cleanedData/"+'3-Alcool-Consumption-per-capita.csv', sep=',', index=False)

In [330]:
fileName='4 - List of countries by intentional homicide rate.csv' 
df=pd.read_csv('../rawData/'+fileName)
data=df.copy()
data[["Rate"]]=data[["Rate"]].apply(pd.to_numeric,errors='coerce') 
data['Location'] = data['Location'].str.replace('*', '', regex=True) 
data['Location']= data['Location'].str.strip()
data=data.rename(columns={"Count":"Victims-per-100000-habitants"})
data=data.iloc[:,[0,5]]
data["Location"] = data["Location"].str.replace(' \(.*\)', '', regex=True)
data["Location"] = data["Location"].drop_duplicates()
data.at[2,'Location']= "US Virgin Islands"
data.to_csv("../cleanedData/"+'4-Intentional-homicide-rate.csv', sep=',', index=False)

In [331]:
fileName='5 - List of countries with highest military expenditures.csv' 
df=pd.read_csv('../rawData/'+fileName)
data=df.copy()
data=data.drop(data.index[0:1]) # Dropped the world statistic as it's not necessary nor a country
data=data.rename(columns={"% of GDP":"percentage-GDP"}) 
data[["percentage-GDP"]]=data[["percentage-GDP"]].apply(pd.to_numeric,errors='coerce') 
data['Country'] = data['Country'].str.replace(r'(\[.*\])+', '', regex=True)
data=data.iloc[:,[1,3]] 
data.to_csv("../cleanedData/"+'5-Military-spending.csv', sep=',', index=False)

In [332]:
fileName='6 - List of countries by Human Development Index.csv' #6
df=pd.read_csv('../rawData/'+fileName)
df.head()
data=df.copy()
data=data.drop(data.index[0:1])
data=data.iloc[:,[2,3]]  # Assumed 2019 in the instructions is a mistake, took 2021 columns
data[["HDI"]]=data[["HDI"]].apply(pd.to_numeric,errors='coerce') #6
data.to_csv("../cleanedData/"+'6-Human-development-index.csv', sep=',', index=False) #6

In [333]:
fileName='7 - The Economist Democracy Index.csv' #7
df=pd.read_csv('../rawData/'+fileName)
data=df.copy()
data=data.iloc[:,[2,6]]
data["2020"]=data["2020"].apply(pd.to_numeric,errors='coerce')
data.to_csv("../cleanedData/"+'7-Democracy-Index.csv', sep=',', index=False)

In [334]:
fileName='8 - List of countries by tertiary education attainment.csv' #8
df=pd.read_csv('../rawData/'+fileName)
data=df.copy()
data=data.iloc[:,[0,1]]
data=data.drop(data.index[0:1])
data=data.rename(columns={"Ages 25â€“34:\xa0% equivalent to a degree course lasting at least:":"percentage-of-population-with-education-of-2-year-tertiary-degree-or-equivalent"})
data.head()
data.to_csv("../cleanedData/"+'8-Tertiary-education.csv', sep=',', index=False)

In [335]:
fileName='9 - Importance of religion by country.csv' #9
df=pd.read_csv('../rawData/'+fileName)
data=df.copy()
data=data.iloc[:,[0,1]]
data=data.rename(columns={"Yes, important[1]":"Yes/Important(%)"}) 
data["Yes/Important(%)"] = data["Yes/Important(%)"].str.replace('%', '') 
data.to_csv("../cleanedData/"+'9-Religion-Importance.csv', sep=',', index=False)

In [336]:
fileName='10 - Christianity by country.csv' #10
df=pd.read_csv('../rawData/'+fileName)
data=df.copy()
data=data.iloc[:,[0,2]]
data=data.rename(columns={"Country or entity":"Country/entity","% Christian":"temp"})
data[["temp"]]=data[["temp"]].astype(str)
data["Country/entity"] = data["Country/entity"].str.replace(' \(details\)', '', regex=True)
data["temp"] = data["temp"].str.replace('\[.*\]', '', regex=True)
data["temp"] = data["temp"].str.replace('\(.*\)', '', regex=True)
data["temp"] = data["temp"].str.replace('%', '', regex=True)
data['Christian(%)'] = [ ((float(x.split('-')[0]) + float(x.split('-')[1]))/2)  if '-' in x else x for x in data['temp']]
data[["Christian(%)"]]=data[["Christian(%)"]].apply(pd.to_numeric,errors='coerce') #6
data=data.iloc[:,[0,2]]
data.at[41,"Country/entity"] = "China"
data.at[99,"Country/entity"] = "North Korea"
data.at[100,"Country/entity"] = "South Korea"
data.to_csv("../cleanedData/"+'10-Christianity-by-country.csv', sep=',', index=False)

In [337]:
fileName="11 - Islam by country.csv"
df=pd.read_csv("../rawData/"+fileName)
data=df.copy()
data=data.iloc[:,[0,3]]
data["Muslim percentage of total population"] = data["Muslim percentage of total population"].str.replace('<', '') 
data.to_csv("../cleanedData/" + "11 - Islam by country.csv", sep=",",index=False)

In [338]:
fileName="12 - Buddhism by country.csv"
df=pd.read_csv("../rawData/"+fileName, skiprows=1)
data = df.copy()
data=data.iloc[:,[0,6]]
data = data.rename(columns={"% Buddhist.1":"Buddhist (%)"})
data["Buddhist (%)"] = data["Buddhist (%)"].str.replace("<", "").str.replace("%","")
data["Country/Territory"] = data["Country/Territory"].str.replace(' \(.*\)', '', regex=True)
data["Country/Territory"] = data["Country/Territory"].drop_duplicates()
data.to_csv("../cleanedData/" + "12 - Buddhism by country.csv", sep=",", index=False)

In [339]:
df=pd.read_csv("../rawData/13 - Jewish population by country.csv", skiprows=1)
data=df.copy()
data=data.iloc[1:,[0,2]]
data=data.rename(columns={"pct": "Jewish (%)"})
data["Countries"]=data["Countries"].str.replace("\[[a-zA-Z]+\]","",regex=True)
data.to_csv("../cleanedData/" + "13 - Jewish population by country.csv",sep=",",index=False)

In [340]:
df=pd.read_csv("../rawData/14 - List of countries by infant and under-five mortality rates.csv")
data=df.copy()
data["Location"]=data["Location"].str.replace("â€¯","").str.replace("*","")
data["Location"] = data["Location"].str.replace(' \(.*\)', '', regex=True)
data["Location"] = data["Location"].drop_duplicates()
data.to_csv("../cleanedData/" + "14 - List of countries by infant and under-five mortality rates.csv",sep=",",index=False)

/tmp/ipykernel_69394/1716987820.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data["Location"]=data["Location"].str.replace("â€¯","").str.replace("*","")

In [341]:
df=pd.read_csv("../rawData/15 - Age of criminal responsibility.csv")
data=df.copy()
data=data.iloc[:,[0,1]]
data = data.rename(columns={"Age (reduced)[a]":"Age of criminal responsibility"})

Quand il y a plusieurs ages je prend le plancher du milieu.

In [342]:
data["Age of criminal responsibility"] = data["Age of criminal responsibility"].replace(["10/14", "13/14-15","9 (girls), 15 (boys)", "12/16-21", "14/15", "12/14", "10/12"],["12", "14", "12", "16", "14", "13", "11"])
data.to_csv("../cleanedData/" + "15 - Age of criminal responsibility.csv",sep=",",index=False)

In [343]:
df=pd.read_csv("../rawData/16 - List of countries by minimum wage.csv", skiprows=1)
data=df.copy()
data=data.iloc[1:,[0,2]]
data=data.rename(columns={"Nominal (US$)[6]":"Annual minimum wage (US$)"})
data.to_csv("../cleanedData/" + "16 - List of countries by minimum wage.csv",sep=",",index=False)

In [344]:
df=pd.read_csv("../rawData/17 - List of countries by external debt.csv")
data=df.copy()
data=data.iloc[:,[0,3]]
data=data.rename(columns={"% of GDP":"External debt (% of GDP)"})
data.at[95,"Country/Region"] = "Trinidad and Tobago"
data.to_csv("../cleanedData/" + "17 - List of countries by external debt.csv",sep=",",index=False)

In [345]:
df=pd.read_csv("../rawData/18 - List of countries by income equality.csv", skiprows=1)
data=df.copy()
data=data.iloc[1:,[0,7]]
data=data.rename(columns={"%":"Gini Ratio"})
data.to_csv("../cleanedData/" + "18 - List of countries by income equality.csv",sep=",",index=False)

In [346]:
df=pd.read_csv("../rawData/19 - List of countries by total health expenditure per capita.csv")
data=df.copy()
data=data.iloc[:,[0,1]]
data["Location"]=data["Location"].str.replace("â€¯","").str.replace("*","")
data=data.rename(columns={"2018":"Health spending per capita (International dollars)"})
data.to_csv("../cleanedData/" + "19 - List of countries by total health expenditure per capita.csv",sep=",",index=False)

/tmp/ipykernel_69394/3638521583.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data["Location"]=data["Location"].str.replace("â€¯","").str.replace("*","")

In [347]:
df=pd.read_csv("../rawData/20 - List of countries by suicide rate.csv")
data=df.copy()
data=data.iloc[:,[0,1]]
# on ne veux pas les continents
data=data.drop(labels=range(181,188),axis=0)
data["Country"]=data["Country"].str.replace("â€¯","").str.replace("*","")
#si le pays se rÃ©pÃ¨te on met la moyenne.
data=data.groupby(data["Country"]).aggregate({"All": "mean"})
data=data.rename(columns={"All":"Suicide Rate"})
data.to_csv("../cleanedData/" + "20 - List of countries by suicide rate.csv",sep=",")

/tmp/ipykernel_69394/2986094012.py:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data["Country"]=data["Country"].str.replace("â€¯","").str.replace("*","")

In [348]:
df=pd.read_csv("../rawData/21 - List of countries by total fertility rate.csv")
data=df.copy()
# Apres la ligne 212 ce n'est plus des pays
data=data.iloc[0:211,[1,2]]
data["Country"] = data["Country"].str.replace(' \(.*\)', '', regex=True)
data["Country"][179] = "Channel Islands"
data.to_csv("../cleanedData/" + "21 - List of countries by total fertility rate.csv",sep=",",index=False)

In [349]:
df=pd.read_csv("../rawData/22 - Tobacco consumption by country.csv")
data=df.copy()
data=data.iloc[:,[0,1]]
# On voit qu'il y a une * aprÃ¨s chaque nom de pays
data["Country"]=data["Country"].str.replace("â€¯","").str.replace("*","")
data.to_csv("../cleanedData/" + "22 - Tobacco consumption by country.csv",sep=",",index=False)

/tmp/ipykernel_69394/846617537.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data["Country"]=data["Country"].str.replace("â€¯","").str.replace("*","")

In [350]:
df=pd.read_csv("../rawData/23 - List of countries by obesity rate.csv")
data=df.copy()
data.to_csv("../cleanedData/" + "23 - List of countries by obesity rate.csv",sep=",",index=False)

In [351]:
df=pd.read_csv("../rawData/24 - List of countries by number of Internet users.csv")
data=df.copy()
data=data.iloc[:,[0,3]]
data["Country or area"] = data["Country or area"].str.replace(' \(.*\)', '', regex=True)
data["Country or area"] = data["Country or area"].drop_duplicates()
data.at[70,"Country or area"] ="Hong Kong"
data.at[150,"Country or area"] ="Macau"
data.to_csv("../cleanedData/" + "24 - List of countries by number of Internet users.csv",sep=",",index=False)

In [352]:
df=pd.read_csv("../rawData/25 - List of countries by median age.csv")
data=df.copy()
# Prendre l'annÃ©e 2020
data=data.iloc[2:,[0,3]]
data["Country/Territory"] = data["Country/Territory"].str.replace(' \(.*\)', '', regex=True)
data["Country/Territory"] = data["Country/Territory"].drop_duplicates()
data["Country/Territory"][53] = "CuraÃ§ao"
data.to_csv("../cleanedData/" + "25 - List of countries by median age.csv",sep=",",index=False)

In [353]:
df=pd.read_csv("../rawData/26 - List of sovereign states by economic freedom.csv")
data=df.copy()
data=data.iloc[:,[1,2]]
data["Country"][78] = "Kyrgyzstan"
data.to_csv("../cleanedData/" + "26 - List of sovereign states by economic freedom.csv",sep=",",index=False)

In [354]:
df=pd.read_csv("../rawData/27 - List of countries by oil production.csv")
data=df.copy()
# DerniÃ¨re ligne est "world"
data=data.iloc[:-1,[0,1]]
# Remove "(OPEC)"
data["Country"]=data["Country"].str.replace("â€¯","").str.replace(" \(OPEC\)","")
data.to_csv("../cleanedData/" + "27 - List of countries by oil production.csv",sep=",",index=False)

/tmp/ipykernel_69394/2038846672.py:6: FutureWarning: The default value of regex will change from True to False in a future version.
  data["Country"]=data["Country"].str.replace("â€¯","").str.replace(" \(OPEC\)","")

In [355]:
df=pd.read_csv("../rawData/28 - List of countries by population growth rate.csv")
data=df.copy()
# Les donnÃ©es commencent Ã  la ligne 3 et on ignore les deux premiÃ¨res lignes
data=data.iloc[4:,[0,1]]
data["Country (or territory)"] = data["Country (or territory)"].str.replace(' \(.*\)', '', regex=True)
# Remove *
data["Country (or territory)"]=data["Country (or territory)"].str.replace("â€¯","").str.replace("*","")
data.to_csv("../cleanedData/" + "28 - List of countries by population growth rate.csv",sep=",",index=False)

/tmp/ipykernel_69394/3833738828.py:7: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data["Country (or territory)"]=data["Country (or territory)"].str.replace("â€¯","").str.replace("*","")

In [356]:
df=pd.read_csv("../rawData/29 - List of countries by life expectancy.csv")
data=df.copy()
# Les donnÃ©es commencent Ã  la ligne 4
data=data.iloc[2:,[0,1]]
data["Countries"][93]="Vietnam"
data.to_csv("../cleanedData/" + "29 - List of countries by life expectancy.csv",sep=",",index=False)

In [357]:
df=pd.read_csv("../rawData/30 - List of countries by meat consumption.csv")
data=df.copy()
# Prendre l'an 2020
data=data.iloc[:,[0,-1]]
data.to_csv("../cleanedData/" + "30 - List of countries by meat consumption.csv",sep=",",index=False)

In [358]:
df=pd.read_csv("../rawData/31 - List of countries by incarceration rate.csv")
data=df.copy()
data=data.iloc[:,[0,-2]]
data["Location"] = data["Location"].str.replace(' \(.*\)', '', regex=True)
data["Location"] = data["Location"].str.replace(' \[.*\]', '', regex=True)
data["Location"]=data["Location"].str.replace("â€¯","").str.replace("*","")
data["Location"][222] = "British Virgin Islands"
data["Location"][223] = "US Virgin Islands"
data.to_csv("../cleanedData/" + "31 - List of countries by incarceration rate.csv",sep=",",index=False)

/tmp/ipykernel_69394/2581429531.py:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data["Location"]=data["Location"].str.replace("â€¯","").str.replace("*","")

In [359]:
df=pd.read_csv("../cleanedData/32 - List of countries by literacy rate.csv")
data=df.copy()
data["Country"] = data["Country"].str.replace(' \(.*\)', '', regex=True)
data["Country"] = data["Country"].drop_duplicates()

In [360]:
df=pd.read_csv("../cleanedData/35 - List of sovereign states by homeless population.csv")
data=df.copy()
data["Country"] = data["Country"].str.replace(' \(.*\)', '', regex=True)
data["Country"] = data["Country"].drop_duplicates()

In [361]:
df=pd.read_csv("../cleanedData/37 - List of countries by number of scientific and technical journal articles.csv")
data=df.copy()
data["Country"] = data["Country"].str.replace(' \(.*\)', '', regex=True)
data["Country"] = data["Country"].drop_duplicates()

In [362]:
df=pd.read_csv("../cleanedData/38 - Books published per country per year.csv")
data=df.copy()
data["Country"] = data["Country"].str.replace(' \(.*\)', '', regex=True)
data["Country"] = data["Country"].drop_duplicates()

In [363]:
filePaths = [
    "../cleanedData/1-GDP-per-capita.csv",
    "../cleanedData/2-Internet-speed.csv",
    "../cleanedData/3-Alcool-Consumption-per-capita.csv",
    "../cleanedData/4-Intentional-homicide-rate.csv",
    "../cleanedData/5-Military-spending.csv",
    "../cleanedData/6-Human-development-index.csv",
    "../cleanedData/7-Democracy-Index.csv",
    "../cleanedData/8-Tertiary-education.csv",
    "../cleanedData/9-Religion-Importance.csv",
    "../cleanedData/10-Christianity-by-country.csv",
    "../cleanedData/11 - Islam by country.csv",
    "../cleanedData/12 - Buddhism by country.csv",
    "../cleanedData/13 - Jewish population by country.csv",
    "../cleanedData/14 - List of countries by infant and under-five mortality rates.csv",
    "../cleanedData/15 - Age of criminal responsibility.csv",
    "../cleanedData/16 - List of countries by minimum wage.csv",
    "../cleanedData/17 - List of countries by external debt.csv",
    "../cleanedData/18 - List of countries by income equality.csv",
    "../cleanedData/19 - List of countries by total health expenditure per capita.csv",
    "../cleanedData/20 - List of countries by suicide rate.csv",
    "../cleanedData/21 - List of countries by total fertility rate.csv",
    "../cleanedData/22 - Tobacco consumption by country.csv",
    "../cleanedData/23 - List of countries by obesity rate.csv",
    "../cleanedData/24 - List of countries by number of Internet users.csv",
    "../cleanedData/25 - List of countries by median age.csv",
    "../cleanedData/26 - List of sovereign states by economic freedom.csv",
    "../cleanedData/27 - List of countries by oil production.csv",
    "../cleanedData/28 - List of countries by population growth rate.csv",
    "../cleanedData/29 - List of countries by life expectancy.csv",
    "../cleanedData/30 - List of countries by meat consumption.csv",
    "../cleanedData/31 - List of countries by incarceration rate.csv",
    "../cleanedData/32 - List of countries by literacy rate.csv",
    "../cleanedData/33 - List of countries by age at first marriage.csv",
    "../cleanedData/34 - List of countries by spending on education as percentage of GDP.csv",
    "../cleanedData/35 - List of sovereign states by homeless population.csv",
    "../cleanedData/36 - List of countries by milk consumption per capita.csv",
    "../cleanedData/37 - List of countries by number of scientific and technical journal articles.csv",
    "../cleanedData/38 - Books published per country per year.csv",
    "../cleanedData/39 - List of countries by food energy intake.csv",
    "../cleanedData/40 - List of countries by average yearly temperature.csv"
]

dfs = []
for filePath in filePaths:
    dfs.append(pd.read_csv(filePath))

for i in range(len(dfs)):
    if (dfs[i].columns[0] != "Country"):
        dfs[i] = dfs[i].rename(columns={dfs[i].columns[0]:"Country"})
        dfs[i].to_csv(filePaths[i], sep=",",index=False)
    dfs[i]["Country"] = dfs[i]["Country"].str.replace(' \(.*\)|\[.*\]|\**', '', regex=True)
    dfs[i]["Country"] = dfs[i]["Country"].drop_duplicates()
    
    
        
data = pd.concat([dfs[0].set_index('Country'), dfs[1].set_index('Country')], axis=1, join='outer').reset_index()
for i in range(2,len(dfs)):
    data = pd.concat([data.set_index('Country'), dfs[i].set_index('Country')], axis=1, join='outer').reset_index()

data.to_csv("../cleanedData/FinalData.csv", sep=",",index=False)
data = data.set_index("Country")

Rettirer les lignes suivantes, car elles ne contiennent pas assez d'information ou ne sont pas des pays.

In [364]:
list = ["Netherlands Antilles",
"Niue",
"French Guiana",
"Gibraltar",
"Guadeloupe",
"Holy See",
"Iraq. Central Iraq",
"Martinique",
"Mayotte",
"Northern Ireland",
"RÃ©union",
"Saint Helena",
"Saint Pierre and Miquelon",
"Scotland",
"Sao Tome and Principe",
"Falkland Islands",
"Pitcairn Islands",
"Europe",
"Latin America and the Caribbean",
"Africa",
"Asia",
"North America",
"Oceania",
"Middle East-North Africa",
"Total",
"Cocos Islands",
"Tokelau",
"Vatican City",
"Wallis and Futuna",
"Western Sahara",
"Swaziland",
"West Bank",
"Guernsey",
"Jersey",
"Northern Cyprus",
"Population replacement",
"Saint Helena, Ascension and Tristan da Cunha",
"Saint Barthelemy",
"Saint Helena, Ascension, and Tristan da Cunha",
"Virgin Islands",
"Caribbean Netherlands",
"Christmas Island",
"Norfolk Island",
"Svalbard",
"Gaza Strip",
"Reunion",
"Republika Srpska",
"England and Wales",
"Bonaire, Sint Eustatius and Saba",
"Lao People\'s Democratic Republic",
"Pitcairn",
"Svalbard and Jan Mayen",
"British Indian Ocean Territory",
"European Union",
"Channel Islands",
"CuraÃ§ao",
"Faroe Islands",
"Anguilla",
"Aruba",
"Cook Islands",
"French Polynesia",
"Greenland",
"Guam",
"Isle of Man",
"Montserrat",
"Northern Mariana Islands",
"Saint Martin",
"Sint Maarten",
"U.S. Virgin Islands",
"US Virgin Islands",
"Virgin Islands, British", 
"Virgin Islands, U.S.",
"World",
"Zanzibar",
"British Virgin Islands"]
data = data.drop(list)

Certains pays apparraissent sous diffÃ©rents noms, alors combinons les

In [365]:
data = data.rename(index={"DR Congo":"DRC",
                          "Republic of the Congo":"Congo",
                          "Democratic Republic of the Congo":"DRC",
                          "Congo, Republic of ":"Congo",
                          "Congo, Democratic Republic of":"DRC",
                          "Democratic Republic of Congo":"DRC",
                          "Republic of Congo":"Congo",
                          "Congo, Republic of":"Congo",
                          "Congo, The Democratic Republic of the":"DRC",
                          "East Timor":"Timor-Leste",
                          "CÃ´te d'Ivoire":"Cote d'Ivoire",
                          "Ivory Coast":"Cote d'Ivoire",
                          "Micronesia, Federated States of":"Micronesia",
                          "Federated States of Micronesia":"Micronesia",
                          "Guinea-Bissau":"Guinea Bissau",
                          "The Bahamas":"Bahamas",
                          "The Gambia":"Gambia",
                          "Cabo Verde":"Cape Verde",
                          "Brunei Darussalam":"Brunei",
                          "United States of America":"United States",
                          "Macao":"Macau",
                          "Federation of Bosnia and Herzegovina":"Bosnia and Herzegovina",
                          "Czechia":"Czech Republic",
                          "Iran, Islamic Republic of":"Iran",
                          "Palestine, State of":"Palestine",
                          "State of Palestine":"Palestine",
                          "Russian Federation":"Russia",
                          "Syrian Arab Republic":"Syria",
                          "Somaliland":"Somalia",
                          "American Samoa":"Samoa",
                          "United Kingdomâ€¯. England and Wales":"United Kingdom",
                          "United Kingdomâ€¯. Great Britain and Northern Ireland":"United Kingdom"})
data

,UN,Ookla,2016,Victims-per-100000-habitants,percentage-GDP,HDI,2020,percentage-of-population-with-education-of-2-year-tertiary-degree-or-equivalent,Yes/Important(%),Christian(%),...,"Gender disparity, elderly (65+), rate",Age at first marriage (Women),Expenditure on education (% of GDP),Homeless per 10k,Calculated,Milk consumption 2013 (kg/capita/yr),Scientific publications per capita (per million),Titles,Average daily food energy intake per capita (kilocalories),Average yearly temperature (Celsius)
Country,,,,,,,,,,,,,,,,,,,,,
Monaco,234317.0,220.35,NaN,0.0,NaN,NaN,NaN,NaN,NaN,82.6,...,NaN,30.4,1.5,NaN,NaN,NaN,6050.0,41.0,NaN,13.55
Liechtenstein,169260.0,193.79,NaN,2.0,NaN,0.935,NaN,NaN,NaN,84.4,...,NaN,31.2,2.1,0.0,NaN,NaN,3193.0,NaN,NaN,5.8
Luxembourg,133745.0,154.26,13.0,4.0,NaN,0.930,8.68,50.0,39.0,72.4,...,NaN,31.8,4.0,37.5,NaN,255.30,3554.0,2000.0,3465.0,8.65
Bermuda,112653.0,NaN,NaN,7.0,NaN,NaN,NaN,NaN,NaN,64.7,...,NaN,NaN,NaN,NaN,NaN,95.56,1218.0,NaN,NaN,NaN
Ireland,101109.0,112.81,13.0,22.0,NaN,0.945,9.05,52.0,54.0,83.8,...,NaN,34.8,3.7,16.0,NaN,291.86,3309.0,1773.0,3885.0,9.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Iran,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,36.8,23.8,4.0,1.9,NaN,46.69,863.0,102691.0,3087.0,17.25
Palestine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,63.9,20.1,5.3,NaN,NaN,NaN,230.0,114.0,NaN,NaN
Russia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,99.2,25.5,3.7,4.0,NaN,163.57,819.0,115171.0,3345.0,âˆ’5.35
Syria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,39,26.3,5.1,3753.0,NaN,111.43,40.0,1138.0,NaN,17.75
Somalia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,9.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Utiliser le max, car des fois on avait de l'information en double pour le mÃªme pays

In [366]:
data = data.groupby("Country").max().reset_index()
data.to_csv("../cleanedData/FinalData2.csv", sep=",",index=True)

data

/tmp/ipykernel_69394/561210590.py:1: FutureWarning: Dropping invalid columns in DataFrameGroupBy.max is deprecated. In a future version, a TypeError will be raised. Before calling .max, select only columns which should be valid for the function.
  data = data.groupby("Country").max().reset_index()

,Country,UN,Ookla,2016,Victims-per-100000-habitants,percentage-GDP,HDI,2020,percentage-of-population-with-education-of-2-year-tertiary-degree-or-equivalent,Yes/Important(%),...,Life expectancy at birth,kg/person (2020)[12],Age at first marriage (Women),Expenditure on education (% of GDP),Homeless per 10k,Calculated,Milk consumption 2013 (kg/capita/yr),Scientific publications per capita (per million),Titles,Average daily food energy intake per capita (kilocalories)
0,Afghanistan,373.0,NaN,0.2,1613.0,NaN,0.478,2.85,NaN,97.0,...,63.2,NaN,15.5,4.1,1180.0,NaN,62.23,9.0,2795.0,2040.0
1,Albania,6396.0,45.25,7.5,66.0,NaN,0.796,6.08,NaN,39.0,...,78.0,47.51,27.8,4.0,121.8,1.0,303.72,216.0,390.0,3360.0
2,Algeria,3700.0,NaN,0.9,NaN,4.8,0.745,3.77,NaN,95.0,...,77.1,18.06,28.2,4.3,NaN,NaN,141.53,176.0,3955.0,3322.0
3,Andorra,42066.0,191.23,11.3,2.0,NaN,0.858,NaN,NaN,NaN,...,NaN,NaN,NaN,3.2,NaN,NaN,NaN,453.0,57.0,NaN
4,Angola,2258.0,NaN,6.4,1196.0,NaN,0.586,3.66,NaN,NaN,...,63.1,23.49,21.4,3.5,NaN,NaN,12.30,5.0,22.0,2385.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198,Venezuela,3965.0,NaN,5.6,5444.0,NaN,0.691,2.76,NaN,79.0,...,73.9,40.94,22.7,3.6,NaN,NaN,117.79,49.0,2275.0,2120.0
199,Vietnam,3756.0,66.38,8.3,1358.0,NaN,0.703,2.94,NaN,30.0,...,73.7,63.34,22.8,4.3,16.6,NaN,16.36,177.0,24589.0,3025.0
200,Yemen,302.0,NaN,0.1,1703.0,NaN,0.455,1.95,NaN,99.0,...,66.6,16.86,23.0,5.2,1294.0,NaN,43.97,35.0,NaN,2154.0
201,Zambia,1095.0,NaN,4.8,853.0,NaN,0.565,4.86,NaN,95.0,...,62.5,13.12,18.7,1.3,NaN,NaN,9.71,44.0,NaN,2002.0
202,Zimbabwe,1508.0,NaN,4.8,982.0,NaN,0.593,3.16,NaN,88.0,...,60.7,17.67,19.9,6.1,848.0,NaN,31.90,71.0,232.0,1908.0